body {
	font-family: 'Lato';
	margin: 0;
}

p {
	font-family: 'Lato';
	font-weight: 400;
}

@media all and (min-width: 600px) {
.nowrap {
	white-space: nowrap;
}
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    max-width: 1000px;
}

.container > div {
	height: 150px;
	margin: 2px;
}

.container > div.normal {
	flex: 1 1 200px;
	
}

.container > div.big {
	flex: 2 1 250px;
	
}


.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container > div.final > img {
    object-fit: cover;
    object-position: 0 10%;
}


@media all and (min-width: 810px) {
	.container > .normal {
	max-width: 305px;
}
}

@media all and (max-width: 524px) {
	.container > div {
	flex: 1 1 100px;
}
}

h3 {
	font-family: 'Lato';
}


/* INTRO SECTION STYLES */


div#intro {
		margin: 0 auto 40px auto;
		width: 80%;
		line-height: 1.5;
		text-align: left;
		font-size: 16px;

		}

#intro p {
	margin: 10px 0;
	line-height: 1.5;
}

 #intro span#fs {
	color :#50267c;
}

 #intro span#blm {
	color: #b22010;
}

#intro h1 {

		font-weight: normal;
		line-height: 1.3;
		font-size: 60px;
		font-family: 'Playfair Display', serif;
		font-style: underline;
		text-align: center;
		margin: 20px 0 10px 0;
}

#intro h2 {

		font-weight: normal;
		line-height: 1.3;
		font-size: 20px;
		margin: 0px 0 30px 0;
}

/* Leaflet Map Styles */



#mapid {
	width: 600px;
	height: 450px;
	margin: 20px 20px;
}

.leaflet-popup-content-wrapper {
  background:#2c3e50;
  opacity: .7;
  color:#fff;
  }

 .leaflet-popup-content h3 {
    margin: 2px 2px;
    line-height: 1;
}

.leaflet-popup-content p {
    margin: 2px 2px;
    line-height: 1;
    color:#fff;
}

.leaflet-interactive.daines {
	fill-opacity: 1;
}



/* DotPlot Styles */

div#container {
	position: relative;
	width: 100%;
	height: 100%;
}

div#photo {
	position: absolute;
		right: 0px;
		top: 0px;
}

div#photo img {
		width: 100%;
		height:100%;
}

div#title {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 50%;
		font-weight: normal;
		line-height: 1.3;
		font-size: 16px;
		max-height: 250px;
		font-family: 'Playfair Display', serif;
}

div#title h2 {
	margin: 0;
}

div#title p {
	line-height: 1;
}

div#hoverTip {
	position: absolute;
	height: auto;
	font-size: 12px;
	line-height: 1em;
	color: #666;
}

div#toolTip {
	position: absolute;
	font-weight: 700;

}

div#toolTip.focus.hidden {
	display: none;
}

.label {
	font-size: 18px;
}

div#line {
	position: absolute;
	width: 100%;
    height: 1px;
    border-bottom: 1px solid #E8E8E8;
}

div#medianPark {
	position: absolute;
    border-left: 2px solid #555;
}

@media only screen and (min-width: 1025px) {
	#mapid {
		display: inline-block;
	}

	#vizBox {
		display: inline-block;
	}
}


@media only screen and (max-width: 1025px) {
	#mapid {
		margin:  auto;
	}

	#vizBox {
		margin: 30px auto;
	}

}

@media only screen and (max-width: 650px) {
	#mapid {
		width: 80%;
	}
	div#vizBox {
		margin: 30px auto;
	}

}

