
html {
	width: 100%;
}

body {
	font-family: 'Lato';
	margin: 0;
	width: 100%;
}

p {
	margin-top: 15px;
	font-family: 'Lato';
	font-weight: 400;
	max-width: 800px;
}

a {
	cursor: pointer;
	font-style: italic;
}

h4 {
	margin: 0;
	text-align: center;
}

@media all and (min-width: 600px) {
.nowrap {
	white-space: nowrap;
}
}

.photoAtt {
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
	font-style: italic;
}

/* PHOTO GRID STYLES */

div.container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.container > div {
	height: 150px;
	margin: 2px;
}

.container > div.normal {
	flex: 1 1 200px;
	
}

.container > div.big {
	flex: 2 1 250px;
	
}

.container > div.bad {
	max-width: 610px;
}


.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container > div.final > img {
    object-fit: cover;
    object-position: 0 10%;
}


@media all and (min-width: 810px) {
	.container > .normal {
	max-width: 305px;
}
}

@media all and (max-width: 524px) {
	.container > div {
	flex: 1 1 100px;
}
}

h3 {
	font-family: 'Lato';
}

h2 {
	font-size: 1.8em;
}


/* INTRO SECTION STYLES */


div#intro {
		margin: 0 auto 40px auto;
		width: 80%;
		line-height: 1.5;
		text-align: left;
		font-size: 1em;

		}

#intro p {
	margin: 40px auto;
	line-height: 1.7;
	width: 80%;
}

 #intro span#fs {
	color :#50267c;
}

 #intro span#blm {
	color: #b22010;
}

#intro h1 {

		font-weight: normal;
		line-height: 1.3;
		font-size: 60px;
		font-style: underline;
		text-align: center;
		margin: 20px 0 10px 0;
	}

#intro h2 {

		font-weight: normal;
		line-height: 1.3;
		width: 95%;
		max-width: 800px;
		font-size: 20px;
		padding: 0px 30px 15px 30px;
		margin: 0px auto 30px auto;
		border-bottom: solid 1px #999;
}


div.title2 {
	text-align: center;
	margin: 40px 0;
}

/* VISUALIZATION STYLES */

div.container2 {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
}

div.container2 > #mapBox {
	flex: .5 1 450px;
	height: 450px;
	margin: 10px 0px;
}

div.container2 > #vizBox {
	flex: 1 1 450px;
	height: auto;
	margin: 10px;
}

#mapid {
	height: 400px;
	margin-top: 50px;
}


/* Leaflet Map Styles */


.leaflet-popup-content-wrapper {
  background:#2c3e50;
  opacity: .7;
  color:#fff;
  }

 .leaflet-popup-content h3 {
    margin: 2px 2px;
    line-height: 1;
}

.leaflet-popup-content p {
    margin: 2px 2px;
    line-height: 1;
    color:#fff;
}



div#mapContainer {
   position: relative;
	width: 100%;
	height: 100%;
}

/* DotPlot Styles */

div#container {
	position: relative;
	width: 100%;
	height: 100%;
}

div#title {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		font-weight: normal;
		line-height: 1.3;
		font-size: 16px;
		max-height: 250px;
		text-align: center;
	
}

div#col p span#percent {
	font-size: 3em;

}

div#title h2 {
	margin: 0;
}

div#title p {
	line-height: 1;
}

div#title #col {
	display: inline-block;
	width: 30%;
	height:100%;
	}

	div#col p{
		line-height: 1.2;
		font-size: .8em;
		padding: 7.5px 0;
		width: 70%;
		color: #555;
		border-bottom: solid 1px #999;
		border-top: solid 1px #999;
		margin: 20px auto;
	}

div#hoverTip {
	position: absolute;
	height: auto;
	font-size: 12px;
	line-height: 1em;
	color: #666;
}

div#toolTip {
	position: absolute;
	font-weight: 700;

}

div#toolTip.focus.hidden {
	display: none;
}

div#famous {
	position: absolute;
	font-size: 10px;
	text-align: center;
	line-height: 1em;
	color: #aaa;
}

div#axis {
	position: absolute;
	font-size: 12px;
	text-align: center;
	line-height: 1em;
	width: 20px;
	text-transform: uppercase;
	color: #555;
}

div#parkToggle {
	position: absolute;
	margin: 0;
	text-align: center;
	background-color: white;
    color: black;
    padding: 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;
}

div#button {
	
	position: absolute;
	margin: 0;
	text-align: center;
	background-color: white;
    color: black;
    padding: 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 20px;

}

div#button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

div#button.selected {
	border-width: 3px;
}

div#button:hover {
    color: white;
}

 div#button.Wildness {
	border-color: #31a354;
}

div#button.Wildness:hover {
	background-color: #31a354;
}

div#button.Darkness {
	border-color: #3182bd;
}

div#button.Darkness:hover {
	background-color: #3182bd;
}

div#button.Quietness {
	border-color: #756bb1;
}

div#button.Quietness:hover {
	background-color: #756bb1;
}

div#line {
	position: absolute;
	width: 100%;
    height: 1px;
    border-bottom: 1px solid #E8E8E8;
}

div#medianPark {
	position: absolute;
    border-left: 2px solid #555;
}