
html {
	width: 100%;
}

body {
	font-family: 'Lato';
	margin: 0;
	width: 100%;
	margin: 0 auto;
	font-weight: normal;
}

div {
	margin: 0 auto;
}

p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 400;
	
	max-width: 800px;
}

a {
	cursor: pointer;
	font-style: italic;
	margin: 0 auto;
}

h1 {
	line-height: 1.3;
	font-size: 65px;
	font-style: underline;
	text-align: center;
	margin: 20px 0 10px 0;
	font-weight: normal;
	}

h2 {
	font-size: 1.8em;
	max-width: 800px;
	margin: 0 auto;
	font-weight: normal;
}

h3 {
	margin: 15px auto;
	max-width: 800px;
}

h4 {
	margin: 0;
	text-align: center;
}

#scrollButton {
	font-size: 16px;
}

@media all and (min-width: 600px) {
.nowrap {
	white-space: nowrap;
}
}
/* INTRO SECTION STYLES////////////////////////////////// */


div#intro {
		margin: 0 auto 40px auto;
		width: 80%;
		line-height: 1.5;
		text-align: left;
		font-size: 1em;
		}

#intro p {
	margin: 40px auto 40px auto;
	line-height: 1.7;
	width: 100%;
}

@media only screen and (max-width: 600px) {

div#intro {
	width: 95%;
}

#intro p {
	width: 95%;
}
}

#intro p {
	font-size: 15px;
	margin: 30px auto 30px auto;
	font-weight: 500;

	}

p.author {
	text-align: center;
}

p.author span.author {
	font-weight: 700;

}

p.author span.date {
	font-weight: 300;
	font-size: 13.5px;
	color: #222;
}

p.second {
	text-align: center;
}

#intro p.first {
	margin-top: 20px;
}

 #intro span#fs {
	color :#50267c;
}

 #intro span#blm {
	color: #b22010;
}

#intro h2 {

	
		line-height: 1.5;
		width: 100%;
		font-size: 18px;
		margin-bottom: 10px;
		
}

#intro p.second {
	border-bottom: solid 1px #bbb;
	margin: 0px auto 10px auto;
	padding: 0px 0px 5px 0px;
}

/* PHOTO GRID STYLES //////////////////////////////////////*/

div.container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    max-width: 800px;
 }

.container > div {
	height: 150px;
	margin: 2px;
}

.container > div.normal {
	flex: 1 1 200px;
	
}

.container > div.big {
	flex: 2 1 250px;
	
}

.container > div.bad {
	max-width: 800px;
}


.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container > div.final > img {
    object-fit: cover;
    object-position: 0 10%;
}


@media all and (min-width: 810px) {
	.container > .normal {
	max-width: 425px;
}
}

@media all and (max-width: 524px) {
	.container > div {
	flex: 1 1 100px;
}
}

.photoAtt {
	
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px 0px 10px 0px;
	padding-top: 0;
	font-size: 12px;
	font-style: italic;
	border-bottom: solid 1px #bbb;
	max-width: 800px;
}


/*  Icon Section //////////////////////////////////////////////////*/

div.variables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
}

div.variables img {
	width: 100px;
	height: 100px;
}

div.variable {
	flex: 0 0 220px;
	text-align: center;
}



div#intro div.variables div.variable p {
	text-align: center;
}

div#intro div.variables div.variable p.desc {
	text-align: left;
	width: 85%;
	margin-bottom: 5px;
}


div#iconAtt {
	margin: 0px;
	font-size: 9px;
	text-align: right;
	margin: 15px auto 0px auto;
	border-bottom: solid 1px #bbb;
	padding: 0px 0px 5px 0px;
	max-width: 800px;


}

/* //////////////////////////////////////*/

/* VISUALIZATION STYLES */

div.container2 {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 200px;
}

div.container2 > #mapBox {
	flex: .5 1 450px;
	height: 450px;
	margin: 10px 0px;
}

div.container2 > #vizBox {
	flex: 1 1 450px;
	height: auto;
	margin: 10px;
}

#mapid {
	height: 400px;
	margin-top: 50px;
}

p#wild {
	color: rgb(15, 120, 54);
	font-size: 24px;
}

p#dark {
	color: rgb(9, 71, 139);
	font-size: 24px;
}

p#quiet {
	color: rgb(83, 38, 143);
	font-size: 24px;
}





/* Leaflet Map Styles */


.leaflet-popup-content-wrapper {
  background:#2c3e50;
  opacity: .7;
  color:#fff;
  }

 .leaflet-popup-content h3 {
    margin: 2px 2px;
    line-height: 1;
}

.leaflet-popup-content p {
    margin: 2px 2px;
    line-height: 1;
    color:#fff;
}

.leaflet-container {
	font-family: Lato;
}

div#mapContainer {
   position: relative;
	width: 100%;
	height: 100%;
}


div.title2 {
	text-align: center;
	margin: 20px auto 10px auto;
}


div.title2 p {
	margin: 10px -2px;
	padding: 3px;
	display: inline-block;
	text-align: center;
    border: 1px solid rgba(127,125,156,.54);
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
}

div.title2 p.selected {
	background-color: #f5f5f5;
    font-weight: 500;
    color: #000;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    border-color: #adadad;
}



/* DotPlot Styles */

div#container {
	position: relative;
	width: 100%;
	height: 100%;
}

div#title {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		font-weight: normal;
		line-height: 1.3;
		font-size: 16px;
		max-height: 250px;
		text-align: center;
	
}

div#col p span#percent {
	font-size: 3em;

}


div#title p {
	line-height: 1;
}

div#title h2 {
	font-size: 28px;
	font-weight: 300;
}

div#title #col {
	display: inline-block;
	width: 30%;
	height:100%;
	}

	div#col p{
		line-height: 1.2;
		font-size: .8em;
		padding: 7.5px 0;
		width: 70%;
		color: #555;
		border-bottom: solid 1px #bbb;
		border-top: solid 1px #bbb;
		margin: 20px auto;
	}

div#hoverTip {
	position: absolute;
	height: auto;
	font-size: 12px;
	line-height: 1em;
	color: #666;
}

div#toolTip {
	position: absolute;
	font-weight: 700;

}

div#toolTip.focus.hidden {
	display: none;
}

div#famous {
	position: absolute;
	font-size: 10px;
	text-align: center;
	line-height: 1em;
	color: #aaa;
}

div#axis {
	position: absolute;
	font-size: 12px;
	text-align: center;
	line-height: 1em;
	width: 20px;
	text-transform: uppercase;
	color: #555;
}

div#button {
	
	position: absolute;
	margin: 0;
	text-align: center;
	background-color: white;
    color: black;
    padding: 2px 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 16px;


}

div#button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

div#button.selected {
	border-width: 3px;
}

div#button:hover {
    color: white;
}

 div#button.Wildness {
	border-color: #31a354;
}

div#button.Wildness:hover {
	background-color: #31a354;
}

div#button.Darkness {
	border-color: #3182bd;
}

div#button.Darkness:hover {
	background-color: #3182bd;
}

div#button.Quietness {
	border-color: #756bb1;
}

div#button.Quietness:hover {
	background-color: #756bb1;
}

div#line {
	position: absolute;
	width: 100%;
    height: 1px;
    border-bottom: 1px solid #E8E8E8;
}

